<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo BDD Suite" verbose="1" parallel="false">

    <!-- Register TestNG Listener -->
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="SauceDemo BDD Tests">
        <classes>
            <!-- Fully qualified TestRunner class -->
            <class name="runners.TestRunner"/>
        </classes>
    </test>

</suite>
